<h2>Available Flowers</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @flowers.each do |flower| %>
      <tr>
        <td><%= flower.name %></td>
        <td><%= flower.price %></td>
        <td><%= link_to 'Show', flower_path(flower) %></td>
        <td><%= link_to "Edit", edit_flower_path(flower) %></td>
        <td><%= button_to "Remove", flower, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'Add flower', new_flower_path %>
</p>